<!DOCTYPE html>
<html lang="">
<head>
    <title>个人简历</title>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2>
                        <a href="#">个人简历</a>
                    </h2>
                    <p>你要尽全力保护你的梦想。那些嘲笑你梦想的人，因为他们必定会失败，他们想把你变成和他们一样的人。 ---《当幸福来敲门》</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">April 15, 2020</time>
                    <a href="#" class="author">
                        <span class="name">Khalid Du</span><img src="~/StaticResource/HomeIndexResource/images/avatar.jpg" alt=""/>
                    </a>
                </div>
            </header>

            <div>
                <h6>个人信息</h6>
                <figure>
                    <table>
                        <thead>
                        <tr>
                            <th>姓名 : 杜函泽(在职中,考虑机会)</th><th>工作经验 ：3年</th><th>年龄 : 27</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>从事职业 ：.Net开发工程师</td><td>专业 ：软件工程（统招本科）</td><td>现居住地 : 上海市浦东新区</td>
                        </tr>
                        </tbody>
                    </table>
                </figure>
                <p>&nbsp;</p>
                <h6>工作经历</h6>
                <ol>
                    <li>
                        <p>公司名称 : 上海优克锡企业管理顾问有限公司 职位名称 : .软件开发工程师 </p>
                        <p>在职时间 : 2019.05 - 至今</p>
                        <p>工作描述：依据公司现有项目主要使用的技术及开发框架,对公司多个站点进行功能上的开发及维护,及部分架构和SEO方面的相关改造,主要负责对外站点的开发和维护,及相关测试 (官网链接: <a href='http://www.zheyibu.com' target='_blank' class='url'>www.zheyibu.com</a>)</p>
                    </li>
                    <li>
                        <p>公司名称 : 上海市安脉有限公司 职位名称 : .net开发工程师 </p>
                        <p>在职时间 : 2018.06 - 2019.03</p>
                        <p>工作描述：依据公司战略规划，参与制作功能模块，主要负责其中的部分ERP模块功能，根据各个学校的不同需求，设计程序页面，开发程序的不同的功能，设计数据库表，完成存储过程等以及系统的维护；</p>
                    </li>
                    <li>
                        <p>公司名称 : 青岛万龙高新科技集团有限公司 职位名称 : .net开发工程师 </p>
                        <p>在职时间 : 2017.06 - 2018.05</p>
                        <p>工作描述：全程参与需求分析，数据词典的书写，软件架构的设计，数据据分析与设计， 软件开发以功能测试</p>
                    </li>

                </ol>
                <h6>项目经验</h6>
                <ol>
                    <li>
                        <p>时间：2019.05 - 至今 项目名称：这一步站点</p>
                        <p>主要技能 : 该项目为 B/S 端应用,主要编程语言为 C#</p>
                        <p>项目描述 :</p>
                        <ol>
                            <li>
                                <p>这一步官网/学生站点(<a href='http://www.zheyibu.com' target='_blank' class='url'>http://www.zheyibu.com</a>) : 该站点是基于面向对象编程的思想,遵循MVC设计典范而开发的网站</p>
                            </li>
                            <li>
                                <p>这一步企业站点(<a href='http://enterprise.zheyibu.com' target='_blank' class='url'>http://enterprise.zheyibu.com</a>) : 同上</p>
                            </li>
                            <li>
                                <p>这一步管理站点(<a href='http://admin.zheyibu.com' target='_blank' class='url'>http://admin.zheyibu.com</a>) : 同上</p>
                            </li>
                            <li>
                                <p>这一步手机站点(<a href='http://m.zheyibu.com' target='_blank' class='url'>http://m.zheyibu.com</a>) : 该站点为以HTML静态页面为主,基于WebApi而开发的网站,其SEO相关页面遵循MVC设计典范</p>
                            </li>
                            <li>
                                <p>这一步API站点((<a href='http://api.zheyibu.com' target='_blank' class='url'>http://api.zheyibu.com</a>) : 该站点为基于WebApi开发的接口站点,部分接口遵循Restful标准,当前标准已于2020年3月至4月被鄙人重构,当前为统一自定义Json返回标准</p>
                            </li>
                            <li>
                                <p>这一步其他站点 : 除以上站点以外,还有基于Redis的缓存站点,用于上传的Upload站点,为App调用而存在的AppApi站点,存储静态文件的static站点</p>
                            </li>
                            <li>
                                <p>这一步其他项目 : 服务器服务开发, 基于Hangfire的爬虫程序等</p>
                            </li>
                            <li>
                                <p>这一步自动化项目 :辅助上级搭建gitlab仓库以及为公司建立MM-WiKi仓库,将公司代码迁移至gitlab,参与测试环境打包部署自动化脚本编写,及生产环境自动化打包脚本编写, 由于人员的缺少,鄙人基于SpecFlow框架搭建自动化测试项目,实现功能上线后的冒烟测试</p>
                                <p>以上为在本公司参与的项目,以及对应文档编写</p>
                            </li>

                        </ol>
                        <p>主要技能 : Asp.net,HTML,JavaScript,JQuary,Ajax,Css 等 数据库 :SqlSever,MySql,Redis,MongDb</p>
                    </li>
                    <li>
                        <p>时间：2018.06 - 2019.03 项目名称：安脉教育软件</p>
                        <p>主要技能 : 该项目属于B/S端，主要运用了HTML,JavaScript,JQuary,Ajax,Css ,vb.net,SQL Sever以及存储过程等相关知识</p>
                        <p>项目描述 : </p>
                        <p>根据学校的不同需求，针对地方初中高不同的政策，开发适合学校管理教师，学生，以及联系家长等相关功能，共约三十多个模块：如：成绩分析，学生管理，老师管理，走班分班，教师排课等等；针对教育局信息公开化；公司在网上联合多家教育企业，对接平台，进行教学资源上的共享。</p>
                        <p>涉及技术：后台运用vb.net语言，前台使用少量的BootSrtap框架，主要书写了大量的JavaScript,JQuary和Ajax，数据库使用书写了大量存储过程的方式来加快系统数据库的计算运行，因学校电脑会出现版本较低的情况，为保证系统版本兼容性，程序使用Css3以下版本，JQ2.0以下，兼容至ie8，数据库版本兼容至SQL Server 2000。</p>
                    </li>
                    <li>
                        <p>时间：2017.06 - 2018.05 项目名称：威海三角轮胎智能上辅机控制系统</p>
                        <p>主要技能 : 该项目属于C/S端，主要使用了WPF中的MVVM框架,HTML5,C#,MySql等相关知识</p>
                        <p>项目描述：</p>
                        <p>开发MIS系统，根据公司的需求，实地出差考察调研，制定合理的解决方案；PLC负责人员合力编写数据词典，不断丰富完善软件内容，最终在规定的时间内完成公司指定的工作内容</p>
                        <p>涉及技术：主要使用了WPF的框架MVVM，核心是理清楚后台程序线程的交互，前台使用HTML5来制作，保证C/S端程序的美观，使用canvas绘制实时温度压力曲线图，根据PLC反馈结果，进行自动判断并根据预先设定好的配料比进行下一步的操作，使用MySql记录每的温度压力值等</p>
                    </li>

                </ol>
                <p>&nbsp;</p>
            </div>

            <footer>
                <ul class="stats">
                    <li>
                        <a href="#">General</a>
                    </li>
                    <li>
                        <a href="#" class="icon solid fa-heart">28</a>
                    </li>
                    <li>
                        <a href="#" class="icon solid fa-comment">128</a>
                    </li>
                </ul>
            </footer>
        </article>
    </div>
</div>

</body>
</html>